name: CI

on:
  push:
    branches: ["main"]
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-D warnings"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          log-level: warn
          command: check
      - uses: Swatinem/rust-cache@v2
      - name: Check fmt
        run: cargo fmt --check
      - name: Lint
        run: cargo clippy --locked
      - name: Run tests
        run: cargo test --locked

  typos:
    name: Check spelling with typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@master

  taplo:
    name: Toml format check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gwen-lg/taplo-action@v1
        with:
          format: true

  detect-unused-dependencies:
    name: Cargo Machete
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Machete
        uses: bnjbvr/cargo-machete@main
